img{
    width: 400px;
    margin-left: 0px;
}


section h2{
    text-align: center;
    color: green;
}

#row1 h2{
 text-align: center;
 padding-top: 30px;
 color: green;
}
#row2{
    padding-top: 20px;
}
#col1,#btn1{
    text-align: center;
}
#col2,#btn2{
    text-align: center;
}
#col3,#btn3{
    text-align: center;
}
#col2,#col3{
    border-left: 1px solid black;
}
.container h2{
    text-align: center;
    color: green;
    padding-top: 30px;
}
#container2 p{
    text-align: center;
}
#p1{
text-align: center;
}
#span1 h2{
    text-align: center;
    font-size:large;
    color: green;
    padding-top: 20px;
}

@media screen and (min-width:678px) {
    img{
        width: 600px;
        margin-left: 340px;
    }
}